<!DOCTYPE html>
<html lang="en">
<head>
    <title>CMDb</title>
    <meta charset="UTF-8" />
    <link type="text/css" href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <section id="headerlogo">
            <img id="logoheader" src="/imagesfolder/logoheader3.png" alt="logo" href="index.html" />
        </section>

      <div id="sidebar">
            <div class="toggle-btn" onclick="open_close()">
                <p>☰</p>
            </div>
            <section class="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Search" asp-action="Index">Search</a></li>
                </ul>
            </section>
        </div>
    </header>

    <!--Main-->
    <div class="wrapper">
        <main role="main" id="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <img id="footerimage" src="/imagesfolder/footer.png" alt="footer with copyright" />
    </footer>

    <script src="~/js/readmore.js"></script>
    <script src="~/js/togglemenu.js"></script>
    <script src="~/js/search.js"></script>
    <script src="~/js/voting.js"></script>
    @RenderSection("Scripts", required: false) 
</body>
</html>